<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <title>Visual Recognition Output</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/myFirstCss.css" />
</head>
<body>
<h1>Here you can see the results</h1>
<div id="imagelist">
<img src=<%= visualresult.images[0].source_url %> height='100'/>
<ul>
    <% visualresult.images[0].classifiers[0].classes.forEach(function(obj) { %>
        <li><%= obj.class %> - <%= obj.score %></li>
    <% }); %>
</ul>
</div>
</body>
</html>
